<a href="https://colab.research.google.com/github/uenhag/ewha.w.univ/blob/main/buslocation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
url='http://openapi.gbis.go.kr/ws/rest/buslocationservice?serviceKey=1234567890&routeId=231000139'
r = requests.get(url)
print(r.text)

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><comMsgHeader/><msgHeader><queryTime>2024-03-17 17:18:58.086</queryTime><resultCode>0</resultCode><resultMessage>정상적으로 처리되었습니다.</resultMessage></msgHeader><msgBody><busLocationList><endBus>0</endBus><lowPlate>0</lowPlate><plateNo>경기78자8144</plateNo><plateType>3</plateType><remainSeatCnt>23</remainSeatCnt><routeId>231000139</routeId><stationId>121000010</stationId><stationSeq>26</stationSeq></busLocationList><busLocationList><endBus>0</endBus><lowPlate>0</lowPlate><plateNo>경기78자8147</plateNo><plateType>3</plateType><remainSeatCnt>37</remainSeatCnt><routeId>231000139</routeId><stationId>277103443</stationId><stationSeq>15</stationSeq></busLocationList><busLocationList><endBus>0</endBus><lowPlate>0</lowPlate><plateNo>경기78자8145</plateNo><plateType>3</plateType><remainSeatCnt>24</remainSeatCnt><routeId>231000139</routeId><stationId>277104739</stationId><stationSeq>43</stationSeq></busLocationList><busLocationList><endBus>0</endBus><lowPlate>0</lowPlate><plateNo>경기78자8143</plateNo><plateType>3</plateType><remainSeatCnt>40</remainSeatCnt><routeId>231000139</routeId><stationId>231001279</stationId><stationSeq>4</stationSeq></busLocationList></msgBody></response>

In [ ]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(r.text, features="xml")

In [ ]:
soup.find_all('stationId')

[<stationId>121000010</stationId>,
 <stationId>277103443</stationId>,
 <stationId>277104739</stationId>,
 <stationId>231001279</stationId>]

In [ ]:
print('학번 =', 2476358, '이름 =', '황유정')

학번 = 2476358 이름 = 황유정